{% extends "base.html.twig" %}
{% block metaDescription %}Le site non officiel du Standard de Liège{% endblock metaDescription %}
{% block body %}
    {% block topNav %}
        <div class="navbar-fixed">
        <ul id="dropdown1" class="dropdown-content">
            {#<li><a href="#!">Joueurs</a></li>#}
            <li><a href="{{ path('app_default_matches') }}">Matchs</a></li>
            {#<li><a href="#!">Classements</a></li>#}
            {#<li><a href="#!">Buteurs</a></li>#}

        </ul>
        <ul id="dropdown2" class="dropdown-content">
            {#<li><a href="#!">Classements</a></li>#}
            <li><a href="{{ path('app_default_matches') }}">Matchs</a></li>
            {#<li><a href="#!">Buteurs</a></li>#}
            <li><a href="{{ path('players_list') }}">Joueurs</a></li>

        </ul>
        <ul id="dropdown3" class="dropdown-content">
            <li><a href="{{ path('entity_list',{entityName: "match"}) }}">matchs</a></li>
            <li><a href="{{ path('entity_list',{entityName: "player"}) }}">joueurs</a></li>
            <li><a href="{{ path('entity_list',{entityName: "referee"}) }}">arbitres</a></li>
            <li><a href="{{ path('entity_list',{entityName: "saison"}) }}">saisons</a></li>
            <li><a href="{{ path('new_match') }}">Nouveau match</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
            

        </ul>
        <nav>
            <div class="nav-wrapper">
                <a href="{{ path('homepage') }}" id="logo"><img src="{{ asset('img/logo.svg') }}" alt="logo rscl.be"></a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="http://forum.rscl.be">Le Forum</a></li>
                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Saison 2017-2018<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Archives<i class="material-icons right">arrow_drop_down</i></a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown3">Admin<i class="material-icons right">arrow_drop_down</i></a></li>
                    {% endif%}
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="http://forum.rscl.be">Le Forum</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li><a  href="#!" >Admin</a>
                        <ul>
                            <li><a href="{{ path('new_match') }}">Nouveau match</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
                        </ul>
                        </li>
                    {% endif%}
                </ul>
            </div>
        </nav>
    </div>
    {% endblock topNav %}
    {% block header %}
        <header>
            <div id="homePicture" class="valign-wrapper ">
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Tifo_du_Standard_de_Li%C3%A8ge.jpg" alt="">
            </div>

            <div class="caption">
                <!--<img src="img/logo.svg" alt="">-->
                <div class="container">
                    <h1 class="z-depth-2">RSCL.be</h1>
                    <h2 class="z-depth-2">Le site non officiel du Standard de Liège</h2>
                </div>
            </div>
        </header>
    {% endblock header %}
    <main>
        <div class="container">
    {% block main %}
    {% endblock main %}
        </div>
    </main>
{% endblock body %}