{% extends "/layout.html.twig" %}
{% block main %}
    <div class="row">
        <div id="leftCol" class="col s12 m12 l8">
           <section id="game">
                <h1>Saison {{ match.saison.name }}</h1>
                {% include 'elements/match-card.html.twig'  %}
                {#<div class="row"></div>#}
                </section>
            {#{% endif %}#}
           
        </div>
        <div class="rightCol col s12 m12 l4">
            <section class="classement">
            <h1>Classement {{ match.saison.name }}</h1>
            
            <ul class="collection championnat">
            <li class="collection-header"><div class="row"><div class="col s2"></div><div class="col s6">Equipe</div><div class="col s2">J.</div><div class="col s2">P.</div></div></li>
            {% for row in classement %}
                <li class="collection-item{% if row.team.oldId ==1 %} red z-index-2{% endif %}"><div class="row"><div class="col s2">{{ loop.index }}</div><div class="col s6">{{ row.team.name }}</div><div class="col s2">{{ row.played }}</div><div class="col s2">{{ row.points }}</div></div></li>

            {% endfor %}
                
                {#<li class="collection-item red z-index-2"><div class="row"><div class="col s2">1</div><div class="col s6"><strong>Standard</strong></div><div class="col s2">5</div><div class="col s2">15</div></div></li>#}
            {#<li class="collection-item "><div class="row"><div class="col s2">1</div><div class="col s6">Equipe</div><div class="col s2">5</div><div class="col s2">15</div></div></li>#}
            {#<li class="collection-item "><div class="row"><div class="col s2">2</div><div class="col s6">Equipe</div><div class="col s2">5</div><div class="col s2">15</div></div></li>#}
            {#<li class="collection-item "><div class="row"><div class="col s2">3</div><div class="col s6">Equipe</div><div class="col s2">5</div><div class="col s2">15</div></div></li>#}
            {#<li class="collection-item "><div class="row"><div class="col s2">4</div><div class="col s6">Equipe</div><div class="col s2">5</div><div class="col s2">15</div></div></li>#}
            {#<li class="collection-item "><div class="row"><div class="col s2">5</div><div class="col s6">Equipe</div><div class="col s2">5</div><div class="col s2">15</div></div></li>#}
            {#<li class="collection-item "><div class="row"><div class="col s2">6</div><div class="col s6">Equipe</div><div class="col s2">5</div><div class="col s2">15</div></div></li>#}
            {#<li class="collection-item "><div class="row"><div class="col s2">7</div><div class="col s6">Equipe</div><div class="col s2">5</div><div class="col s2">15</div></div></li>#}
            {#<li class="collection-item "><div class="row"><div class="col s2">8</div><div class="col s6">Equipe</div><div class="col s2">5</div><div class="col s2">15</div></div></li>#}
            {#<li class="collection-item "><div class="row"><div class="col s2">9</div><div class="col s6">Equipe</div><div class="col s2">5</div><div class="col s2">15</div></div></li>#}
            {#<li class="collection-item "><div class="row"><div class="col s2">10</div><div class="col s6">Equipe</div><div class="col s2">5</div><div class="col s2">15</div></div></li>#}
            {#<li class="collection-item "><div class="row"><div class="col s2">11</div><div class="col s6">Equipe</div><div class="col s2">5</div><div class="col s2">15</div></div></li>#}
            {#<li class="collection-item "><div class="row"><div class="col s2">12</div><div class="col s6">Equipe</div><div class="col s2">5</div><div class="col s2">15</div></div></li>#}
            {#<li class="collection-item "><div class="row"><div class="col s2">13</div><div class="col s6">Equipe</div><div class="col s2">5</div><div class="col s2">15</div></div></li>#}
            {#<li class="collection-item "><div class="row"><div class="col s2">14</div><div class="col s6">Equipe</div><div class="col s2">5</div><div class="col s2">15</div></div></li>#}
            {#<li class="collection-item "><div class="row"><div class="col s2">15</div><div class="col s6">Equipe</div><div class="col s2">5</div><div class="col s2">15</div></div></li>#}
            {#<li class="collection-item "><div class="row"><div class="col s2">16</div><div class="col s6">Equipe</div><div class="col s2">5</div><div class="col s2">15</div></div></li>#}

            </ul>

            </section>
            <section class="buteurs">
                <h1>Buteurs</h1>

                <h2>Championnat {{ match.saison.name }}</h2>
                {% include 'elements/scorer-board.html.twig' with {events: bestScorerJup} %}
                <h2>Toutes compétitions {{ match.saison.name }}</h2>
                {% include 'elements/scorer-board.html.twig' with {events: bestScorer} %}
                {#<h2>Depuis 1980</h2>#}
                {#{% include 'elements/scorer-board.html.twig' with {events: bestScorersAllTime} %}#}
            </section>
        </div>
    </div>
{% endblock main %}