{% extends "/layout.html.twig" %}

{% block main %}
    <div class="row">
        <div id="leftCol" class="col s12 m12 l8">
            <section >
                <h1>Les joueurs du Standard</h1>
                {#{ form(form) }}#}
                <div class="clearfix"></div>
            </section>

        </div>
        <div class="rightCol col s12 m12 l4">
            <section>
                <h1>Stats</h1>
                <ul>
                    {% for roster in rosters %}
                    <li>{{ roster.name }} : X joueurs{# TODO #}</li>
                    {% endfor %}
                </ul>
                <script>
                   
                    
                </script>
            </section>
        </div>
    </div>
    <div class="row">
        <table>
            <thead>
            <tr>
                <th>N°</th>
                <th>Nom</th>
                <th>Noyau</th>
                <th>Position</th>
                <th>Fin contrat</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% set currentType = 0 %}
            {% set types = ['', 'Gardiens', 'Défenseurs', 'Milieux de terrain', 'Attaquants'] %}
            {% for player in players %}
                {% if currentType != player.type %}
                <tr>
                    <td colspan="6"><strong>{{ types[player.type] }}</strong></td>
                </tr>
                    {% set currentType = player.type %}
                {% endif %}
                <tr>
                    <td>{{ player.number }}</td>
                    <td>{{ player.fullName }}</td>
                    <td>{% if player.roster %}{{ player.roster.label }}{% else %}{#LOL#}{% endif %}</td>
                    <td>{{ player.position }}</td>
                    <td>{{ player.contract }}</td>
                    <td><a href="{{ path('view_player', { id: player.id }) }}" class="btn">Voir la fiche</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('edit-player',{id: player.id}) }}" class="btn">Editer</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock main %}